<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BINAR CAR MANAGEMENT</title>
  <script src="https://kit.fontawesome.com/33c74e4241.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css" />
</head>

<body style="overflow-x: hidden;">
  <div class="nav">
    <div style="display: flex; align-items: center; justify-content: center;">
      <i class="fa-solid fa-bars" style="font-size: 25px; margin-left: 40px;"></i>
    </div>

    <div style="display: flex; gap: 20px; padding-right: 50px;">
      <div style="display: flex;">
        <div class="search">
          <i style="font-size: 25px; color: lightgray;" class="fa-sharp fa-solid fa-magnifying-glass"></i>
          <input style="border: none; background-color: transparent;" type="text" placeholder="Search">
        </div>
        <div class="filter-button" style="border: 2px solid #0D28A6; background-color: white;">
          Search
        </div>
      </div>
      <div style="display: flex; align-items: center; gap: 20px;">
        <div class="icon">
          <b>U</b>
        </div>
        <div>
          Ucok CJ
        </div>
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>

  </div>
</body>

</html>